@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .dark-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/loginbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
